<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ importmap() }}

    <meta name="x-apple-disable-message-reformatting">

    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="font-family: sans-serif;">
    {% block content %}{% endblock %}
</body>
</html>
