<div class="flex gap-6 w-full items-center justify-center">
    {% for category in categories %}
        <span class="text-xs md:text-[15px] marcellus px-4 py-1 rounded-full border select-none border-slate-300 hover:bg-slate-300 transition duration-150 cursor-pointer">{{ category.name }}</span>
    {% endfor %}
</div>
